<a href="https://colab.research.google.com/github/rodolfoarruda/MachineLearning/blob/main/boosting_aula7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Adaboosting

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Curso_Logistica/dataset_trat.csv',sep=';')
df.head()

   ID   SAFRA  LIMIT_BAL  SEX  ...  PAY_AMT4  PAY_AMT5  PAY_AMT6  default
0   1  200510      20000    2  ...         0         0         0        1
1   2  200510     120000    2  ...      1000         0      2000        1
2   3  200510      90000    2  ...      1000      1000      5000        0
3   4  200510      50000    2  ...      1100      1069      1000        0
4   5  200510      50000    1  ...      9000       689       679        0

[5 rows x 26 columns]

In [ ]:
df.set_index(['ID','SAFRA'],inplace=True)

In [ ]:
df.head()

           LIMIT_BAL  SEX  EDUCATION  ...  PAY_AMT5  PAY_AMT6  default
ID SAFRA                              ...
1  200510      20000    2          2  ...         0         0        1
2  200510     120000    2          2  ...         0      2000        1
3  200510      90000    2          2  ...      1000      5000        0
4  200510      50000    2          2  ...      1069      1000        0
5  200510      50000    1          2  ...       689       679        0

[5 rows x 24 columns]

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.drop(columns=['default']), df['default'] ,test_size=0.3, random_state=123)

In [ ]:
X_train.head()

              LIMIT_BAL  SEX  EDUCATION  ...  PAY_AMT4  PAY_AMT5  PAY_AMT6
ID    SAFRA                              ...
16396 200603     320000    2          1  ...      3000         0      7013
21449 200605     440000    2          1  ...      3018     15000     51663
20035 200604     160000    2          3  ...         0         0         0
25756 200606     120000    2          2  ...      3017      2005      1702
1439  200510      50000    1          2  ...      1500      1000      1500

[5 rows x 23 columns]

## Ajuste do modelo Adaboost

In [ ]:
from sklearn.ensemble import AdaBoostClassifier

In [ ]:
abc = AdaBoostClassifier(n_estimators=10)
model = abc.fit(X_train, y_train)
y_pred_train = model.predict(X_train)
y_pred_test = model.predict(X_test)

In [ ]:
# Model Accuracy, how often is the classifier correct?
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_train, y_pred_train))
print("Accuracy:",metrics.accuracy_score(y_test, y_pred_test))

Accuracy: 0.8156666666666667
Accuracy: 0.8187777777777778

## Alterar o weak learner

In [ ]:
from sklearn.tree import DecisionTreeClassifier

be = DecisionTreeClassifier(max_depth=10)

# Create adaboost classifer object
abc =AdaBoostClassifier(n_estimators=10, base_estimator=be)

# Train Adaboost Classifer
model2 = abc.fit(X_train, y_train)

y_pred_train2 = model2.predict(X_train)
y_pred_test2 = model2.predict(X_test)

In [ ]:
# Model Accuracy, how often is the classifier correct?
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_train, y_pred_train2))
print("Accuracy:",metrics.accuracy_score(y_test, y_pred_test2))

Accuracy: 0.9144761904761904
Accuracy: 0.7745555555555556

## Gradient Boosting

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
clf = GradientBoostingClassifier(n_estimators=10,  max_depth=30)

# Train Gradient boost Classifer
model3 = clf.fit(X_train, y_train)

y_pred_train3 = model3.predict(X_train)
y_pred_test3 = model3.predict(X_test)

In [ ]:
# Model Accuracy, how often is the classifier correct?
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_train, y_pred_train3))
print("Accuracy:",metrics.accuracy_score(y_test, y_pred_test3))

Accuracy: 0.9981904761904762
Accuracy: 0.7551111111111111

## XG BOOSTING

In [ ]:
#sudo pip install xgboost
from xgboost import XGBClassifier

In [ ]:
# fit model on training data
model4 = XGBClassifier()
model4.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [ ]:
y_pred_train4 = model4.predict(X_train)
y_pred_test4 = model4.predict(X_test)

In [ ]:
# Model Accuracy, how often is the classifier correct?
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_train, y_pred_train4))
print("Accuracy:",metrics.accuracy_score(y_test, y_pred_test4))

Accuracy: 0.8246666666666667
Accuracy: 0.8222222222222222