<a href="https://colab.research.google.com/github/rodolfoarruda/MachineLearning/blob/main/recom_sys_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Rodolfo Arruda - 6381848

### **SCC5966 – Sistemas de Recomendação**

## **Setup**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
np.set_printoptions(suppress=True)

import pandas as pd
import matplotlib.pyplot as plt

# calculate sparsity
from numpy import array
from numpy import count_nonzero

# calculate similarity
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import pairwise_distances

# Split train test
from sklearn.model_selection import train_test_split

# Machine learning 
from sklearn.metrics import mean_squared_error as mse
from xgboost import XGBRegressor

## **1 - Data Preparation**

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/train_data.csv',sep=',')
df.head()

In [ ]:
plt.bar(df['rating'].value_counts().index,df['rating'].value_counts())
plt.title('Ratings Distribution')
plt.xlabel('Rating')
plt.ylabel('# Evaluations');

In [ ]:
df['rating'].mean()

#### **1.1 - Dummy submission - by average movie**

In [ ]:
avg_movie = pd.DataFrame(df['rating'].groupby(df['movie_id']).mean())
avg_movie.reset_index(inplace=True)

In [ ]:
avg_movie.head()

In [ ]:
df_test = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/test_data.csv',sep=',')
df_test.head()

In [ ]:
df_test.count()

In [ ]:
pred_dummy_movie = pd.merge(df_test, avg_movie, on="movie_id",how="left").fillna(4)

In [ ]:
pred_dummy_movie.head()

In [ ]:
pred = pred_dummy_movie[['id','rating']]
pred.head()

In [ ]:
pred.to_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/s1.csv',index=False)

#### **1.2 - Dummy submission - by average user**

In [ ]:
  avg_user= pd.DataFrame(df['rating'].groupby(df['user_id']).mean())
  avg_user.reset_index(inplace=True)

In [ ]:
avg_user.head()

In [ ]:
pred_dummy_user = pd.merge(df_test, avg_user, on="user_id",how="left").fillna(3.603814223642363)

In [ ]:
pred_dummy_user.count()

In [ ]:
pred = pred_dummy_user[['id','rating']]
pred.head()

In [ ]:
pred.to_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/s2.csv',index=False)

## **2 - Claborative Filtering based on movie**

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/train_data.csv',sep=',')
df.head()

   user_id  movie_id  rating  timestamp
0        1      1160       5  974769817
1        1      1129       3  974769817
2        1      3328       4  974769817
3        1      2659       2  974769817
4        1       980       3  974769817

#### **2.1 - Data Normalization**

In [ ]:
def sub_mean(df):
  ## Normalize rating by movie
  avg_movie = pd.DataFrame(df['rating'].groupby(df['movie_id']).mean())
  avg_movie = avg_movie.rename(columns = {'rating': 'avg_movie'})
  avg_movie.reset_index(inplace=True)
  result1 = pd.merge(df, avg_movie, on="movie_id")
  result1['rating_avgr_movie'] = result1['rating'] - result1['avg_movie']

  ## Normalize rating by user
  avg_user= pd.DataFrame(df['rating'].groupby(df['user_id']).mean())
  avg_user = avg_user.rename(columns = {'rating': 'avg_user'})
  avg_user.reset_index(inplace=True)
  result2 = pd.merge(result1, avg_user, on="user_id")
  result2['rating_avgr_user'] = result2['rating'] - result2['avg_user']

  return result2

In [ ]:
df_norm = sub_mean(df)

In [ ]:
df_norm.head()

   user_id  movie_id  rating  ...  rating_avgr_movie  avg_user  rating_avgr_user
0        1      1160       5  ...           1.062802  3.769231          1.230769
1        1      1129       3  ...          -0.993320  3.769231         -0.769231
2        1      3328       4  ...           0.337798  3.769231          0.230769
3        1      2659       2  ...          -1.688333  3.769231         -1.769231
4        1       980       3  ...          -0.927287  3.769231         -0.769231

[5 rows x 8 columns]

#### **2.2 - user x item matrix**

In [ ]:
A = df_norm.pivot(index='user_id', columns='movie_id', values='rating').fillna(0)

In [ ]:
A

movie_id  1     2     3     4     5     ...  3560  3561  3562  3563  3564
user_id                                 ...
1          0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
2          0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
3          0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
4          0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
5          0.0   0.0   0.0   0.0   0.0  ...   3.0   5.0   0.0   0.0   4.0
...        ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...
3970       0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
3971       0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
3972       0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
3973       0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
3974       0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0

[3952 rows x 3562 columns]

#### **2.3 - Sparcity evaluation**
##### The sparsity of a matrix can be quantified with a score, which is the number of zero values in the matrix divided by the total number of elements in the matrix.

In [ ]:
sparsity = 1.0 - count_nonzero(A) /A.size
print(sparsity)

0.9619391144037263

##### A dense matrix stored in a NumPy array can be converted into a sparse matrix using the CSR representation by calling the csr_matrix() function.

In [ ]:
from scipy import sparse

In [ ]:
train = sparse.csr_matrix((df_norm.rating_avgr_movie, (df_norm.user_id, df_norm.movie_id)))

#### **2.4 - Compute similar movies**

##### A similarity matrix is critical to measure and calculate the similarity between user-profiles and movies to generate recommendations. To remove movie and user bias, we need to re-escale ratings base on average.

In [ ]:
similarity = cosine_similarity(train.T, dense_output = False)

In [ ]:
print(similarity)

In [ ]:
# Reference rating parameters
avg_movie = pd.DataFrame(df_norm['rating'].groupby(df_norm['movie_id']).mean())
avg_movie.reset_index(inplace=True)

# Reference movies
moviex=df_norm['movie_id'].unique()

In [ ]:
#moviex = [1160, 1129, 3328]
 df[df['A'].isin([3, 6])]

#### **2.5 - Compute top similar movies**

In [ ]:
def sim_knearb(movie,k,similarity):
  y =pd.DataFrame(np.matrix(sparse.find(similarity)).T,columns=['similar','base','w'])
  z = y[y['base'] != y['similar']]

  return z[z['base'].isin([movie])].sort_values(by='w',ascending=False).head(k)

In [ ]:
def avg_knearb(moviex,k,similarity):
  
  # auxiliar variables
  j = 0
  aux  = {'similar': [0.0], 'base': [0], 'w':[0.0]}
  base = pd.DataFrame(aux, columns = ['similar','base','w'])
 
  for i in moviex:
 
    top = sim_knearb(i , k , similarity)
    base = pd.concat([base, top])

    j += 1
    print('Iteração #:', j)
    
  base['sub_group_rank'] = base.groupby('base')['w'].rank(ascending=False)
  
  
  return base

In [ ]:
base = avg_knearb(moviex,10,similarity)

In [ ]:
base.head()

         similar    base         w  sub_group_rank
0            0.0     0.0  0.000000             1.0
2970687   1112.0  1160.0  0.293818             1.0
2971797   2368.0  1160.0  0.267087             2.0
2971799   2370.0  1160.0  0.214225             3.0
2971802   2373.0  1160.0  0.211034             4.0

In [ ]:
base.to_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/pto_checagem_sim2.csv',index=False)

#### **2.6 - Predictions**

In [ ]:
base = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/pto_checagem_sim2.csv')

In [ ]:
base.head()

   similar    base         w  sub_group_rank
0      0.0     0.0  0.000000             1.0
1   1112.0  1160.0  0.293818             1.0
2   2368.0  1160.0  0.267087             2.0
3   2370.0  1160.0  0.214225             3.0
4   2373.0  1160.0  0.211034             4.0

In [ ]:
base.count()

similar           34021
base              34021
w                 34021
sub_group_rank    34021
dtype: int64

In [ ]:
 base = base[base['sub_group_rank'] <=6]

In [ ]:
df_norm.head()

   user_id  movie_id  rating  ...  rating_avgr_movie  avg_user  rating_avgr_user
0        1      1160       5  ...           1.062802  3.769231          1.230769
1        1      1129       3  ...          -0.993320  3.769231         -0.769231
2        1      3328       4  ...           0.337798  3.769231          0.230769
3        1      2659       2  ...          -1.688333  3.769231         -1.769231
4        1       980       3  ...          -0.927287  3.769231         -0.769231

[5 rows x 8 columns]

In [ ]:
x_train, x_test,= train_test_split(df_norm, test_size=0.3, random_state=0)

In [ ]:
x_train.head()

        user_id  movie_id  ...  avg_user  rating_avgr_user
71608       227        34  ...  3.357553          1.642447
276128     2979       171  ...  3.503378         -1.503378
270463     2920       967  ...  3.645000          0.355000
263232     2784      1866  ...  3.320099         -0.320099
234148     2457      2007  ...  3.951027          0.048973

[5 rows x 8 columns]

In [ ]:
avg_movie = pd.DataFrame(x_train['rating'].groupby(df_norm['movie_id']).mean())
avg_movie.reset_index(inplace=True)

In [ ]:
#x_test_min = x_test[['user_id','movie_id','rating']]

x_test_min = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/test_data.csv')

In [ ]:
x_test_min.head()

   id  user_id  movie_id  timestamp
0   0        5      2962  974769784
1   1        5      3177  974769768
2   2        5      3153  974769768
3   3        5       501  974769768
4   4        5      3159  974769768

In [ ]:
pred_movie_avg = pd.merge(x_test_min,avg_movie, on="movie_id",how="left").fillna(3.603814223642363)

In [ ]:
pred_movie_avg.head()

   id  user_id  movie_id  timestamp    rating
0   0        5      2962  974769784  3.637931
1   1        5      3177  974769768  3.637931
2   2        5      3153  974769768  3.637931
3   3        5       501  974769768  3.637931
4   4        5      3159  974769768  3.637931

In [ ]:
pred_movie_avg2 = pd.merge(pred_movie_avg,base, how='left',left_on=['movie_id'],right_on=['base'])

In [ ]:
pred_movie_avg2.head()

   id  user_id  movie_id  timestamp  ...  similar  base         w  sub_group_rank
0   0        5      2962  974769784  ...    104.0   5.0  0.519030             1.0
1   0        5      2962  974769784  ...    725.0   5.0  0.497589             2.0
2   0        5      2962  974769784  ...    112.0   5.0  0.478498             3.0
3   0        5      2962  974769784  ...    611.0   5.0  0.460403             4.0
4   0        5      2962  974769784  ...    360.0   5.0  0.439991             5.0

[5 rows x 9 columns]

In [ ]:
df_norm[['rating_avgr_movie','user_id','movie_id']].dtypes

rating_avgr_movie    float64
user_id                int64
movie_id               int64
dtype: object

id                  int64
user_id             int64
movie_id            int64
timestamp           int64
rating            float64
similar             int64
base              float64
w                 float64
sub_group_rank    float64
dtype: object

In [ ]:
pred_movie_avg3 = pd.merge(pred_movie_avg2,df_norm[['rating_avgr_movie','user_id','movie_id']],\ how='left',left_on=['user_id','similar'],right_on=['user_id','movie_id']).fillna(0)

In [ ]:
pred_movie_avg3.head()

   id  user_id_x  movie_id  ...  sub_group_rank  avg_user  user_id_y
0   0          5      2962  ...             1.0  0.000000        0.0
1   0          5      2962  ...             2.0  0.000000        0.0
2   0          5      2962  ...             3.0  3.111111      112.0
3   0          5      2962  ...             4.0  0.000000        0.0
4   0          5      2962  ...             5.0  0.000000        0.0

[5 rows x 11 columns]

In [ ]:
pred_movie_avg3['avg_pond'] = pred_movie_avg3['w']* pred_movie_avg3['rating_avgr_movie']

In [ ]:
pred_movie_avg3.head()

   id  user_id_x  movie_id  ...  avg_user  user_id_y  avg_pond
0   0          5      2962  ...  0.000000        0.0   0.00000
1   0          5      2962  ...  0.000000        0.0   0.00000
2   0          5      2962  ...  3.111111      112.0   1.48866
3   0          5      2962  ...  0.000000        0.0   0.00000
4   0          5      2962  ...  0.000000        0.0   0.00000

[5 rows x 12 columns]

In [ ]:
pred_movie_avg3.count()

id                23250
user_id_x         23250
movie_id          23250
timestamp         23250
rating            23250
similar           23250
base              23250
w                 23250
sub_group_rank    23250
avg_user          23250
user_id_y         23250
avg_pond          23250
dtype: int64

In [ ]:
pred_movie_avg3.to_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/escoragem_v3.csv',index=False)

## **3 - Claborative filtering based on user**

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/train_data.csv',sep=',')
df.head()

   user_id  movie_id  rating  timestamp
0        1      1160       5  974769817
1        1      1129       3  974769817
2        1      3328       4  974769817
3        1      2659       2  974769817
4        1       980       3  974769817

#### **3.1 - Data Normalization**

In [ ]:
def sub_mean(df):
  ## Normalize rating by movie
  avg_movie = pd.DataFrame(df['rating'].groupby(df['movie_id']).mean())
  avg_movie = avg_movie.rename(columns = {'rating': 'avg_movie'})
  avg_movie.reset_index(inplace=True)
  result1 = pd.merge(df, avg_movie, on="movie_id")
  result1['rating_avgr_movie'] = result1['rating'] - result1['avg_movie']

  ## Normalize rating by user
  avg_user= pd.DataFrame(df['rating'].groupby(df['user_id']).mean())
  avg_user = avg_user.rename(columns = {'rating': 'avg_user'})
  avg_user.reset_index(inplace=True)
  result2 = pd.merge(result1, avg_user, on="user_id")
  result2['rating_avgr_user'] = result2['rating'] - result2['avg_user']

  return result2

In [ ]:
df_norm = sub_mean(df)

In [ ]:
df_norm.head()

   user_id  movie_id  rating  ...  rating_avgr_movie  avg_user  rating_avgr_user
0        1      1160       5  ...           1.062802  3.769231          1.230769
1        1      1129       3  ...          -0.993320  3.769231         -0.769231
2        1      3328       4  ...           0.337798  3.769231          0.230769
3        1      2659       2  ...          -1.688333  3.769231         -1.769231
4        1       980       3  ...          -0.927287  3.769231         -0.769231

[5 rows x 8 columns]

#### **3.2 - item x user matrix**

In [ ]:
A = df_norm.pivot(index='movie_id', columns='user_id', values='rating').fillna(0)

In [ ]:
A

user_id   1     2     3     4     5     ...  3970  3971  3972  3973  3974
movie_id                                ...
1          0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
2          0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
3          0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
4          0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
5          0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
...        ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...
3560       0.0   0.0   0.0   0.0   3.0  ...   0.0   0.0   0.0   0.0   0.0
3561       0.0   0.0   0.0   0.0   5.0  ...   0.0   0.0   0.0   0.0   0.0
3562       0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
3563       0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
3564       0.0   0.0   0.0   0.0   4.0  ...   0.0   0.0   0.0   0.0   0.0

[3562 rows x 3952 columns]

#### **3.3 - Sparcity evaluation**
##### The sparsity of a matrix can be quantified with a score, which is the number of zero values in the matrix divided by the total number of elements in the matrix.

In [ ]:
sparsity = 1.0 - count_nonzero(A) /A.size
print(sparsity)

0.9619391144037263

##### A dense matrix stored in a NumPy array can be converted into a sparse matrix using the CSR representation by calling the csr_matrix() function.

In [ ]:
from scipy import sparse

In [ ]:
from scipy import sparse
train = sparse.csr_matrix((df_norm.rating, (df_norm.movie_id,df_norm.user_id)))

#### **3.4 - Compute similar user**

##### A similarity matrix is critical to measure and calculate the similarity between user-profiles and movies to generate recommendations. To remove movie and user bias, we need to re-escale ratings base on average.

In [ ]:
from scipy import sparse
train = sparse.csr_matrix((df_norm.rating, (df_norm.movie_id,df_norm.user_id)))
similarity = cosine_similarity(train.T, dense_output = False)

In [ ]:
print(similarity)

In [ ]:
# Reference rating parameters
avg_movie = pd.DataFrame(df_norm['rating'].groupby(df_norm['user_id']).mean())
avg_movie.reset_index(inplace=True)

# Reference movies
userx=df_norm['user_id'].unique()

In [ ]:
userx

array([   1,   32,  107, ..., 3943, 3851, 3933])

In [ ]:
#userx = [3943, 3851, 3933]

#### **3.5 - Compute top similar movies**

In [ ]:
def sim_knearb(user,k,similarity):
  y =pd.DataFrame(np.matrix(sparse.find(similarity)).T,columns=['similar','base','w'])
  z = y[y['base'] != y['similar']]

  return z[z['base'].isin([user])].sort_values(by='w',ascending=False).head(k)

In [ ]:
def avg_knearb(moviex,k,similarity):
  
  # auxiliar variables
  j = 0
  aux  = {'similar': [0.0], 'base': [0], 'w':[0.0]}
  base = pd.DataFrame(aux, columns = ['similar','base','w'])
 
  for i in userx:
 
    top = sim_knearb(i , k , similarity)
    base = pd.concat([base, top])

    j += 1
    print('Iteração #:', j)
    
  base['sub_group_rank'] = base.groupby('base')['w'].rank(ascending=False)
  
  
  return base

In [ ]:
base = avg_knearb(userx,10,similarity)

In [ ]:
base.head()

      similar  base         w  sub_group_rank
0         0.0   0.0  0.000000             1.0
1669   1988.0   1.0  0.656910             1.0
2340   2743.0   1.0  0.550155             2.0
3184   3722.0   1.0  0.549234             3.0
2420   2834.0   1.0  0.511894             4.0

In [ ]:
base.to_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/pto_checagem_user.csv',index=False)

#### **3.6 - Predictions**

In [ ]:
base = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/pto_checagem_user.csv')

In [ ]:
base.head()

   similar  base         w  sub_group_rank
0      0.0   0.0  0.000000             1.0
1   1988.0   1.0  0.656910             1.0
2   2743.0   1.0  0.550155             2.0
3   3722.0   1.0  0.549234             3.0
4   2834.0   1.0  0.511894             4.0

In [ ]:
base.count()

similar           39521
base              39521
w                 39521
sub_group_rank    39521
dtype: int64

In [ ]:
 base = base[base['sub_group_rank'] <=6]

In [ ]:
df_norm.head()

   user_id  movie_id  rating  ...  rating_avgr_movie  avg_user  rating_avgr_user
0        1      1160       5  ...           1.062802  3.769231          1.230769
1        1      1129       3  ...          -0.993320  3.769231         -0.769231
2        1      3328       4  ...           0.337798  3.769231          0.230769
3        1      2659       2  ...          -1.688333  3.769231         -1.769231
4        1       980       3  ...          -0.927287  3.769231         -0.769231

[5 rows x 8 columns]

In [ ]:
x_train, x_test,= train_test_split(df_norm, test_size=0.3, random_state=0)

In [ ]:
x_train.head()

        user_id  movie_id  ...  avg_user  rating_avgr_user
71608       227        34  ...  3.357553          1.642447
276128     2979       171  ...  3.503378         -1.503378
270463     2920       967  ...  3.645000          0.355000
263232     2784      1866  ...  3.320099         -0.320099
234148     2457      2007  ...  3.951027          0.048973

[5 rows x 8 columns]

In [ ]:
avg_movie = pd.DataFrame(df_norm['rating'].groupby(df_norm['user_id']).mean())
avg_movie.reset_index(inplace=True)

In [ ]:
avg_movie.head()

   user_id    rating
0        1  3.769231
1        2  3.428571
2        3  3.818182
3        4  4.375000
4        5  3.637931

In [ ]:
#x_test_min = x_test[['user_id','movie_id','rating']]

x_test_min = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/test_data.csv')

In [ ]:
x_test_min.head()

   id  user_id  movie_id  timestamp
0   0        5      2962  974769784
1   1        5      3177  974769768
2   2        5      3153  974769768
3   3        5       501  974769768
4   4        5      3159  974769768

In [ ]:
pred_movie_avg = pd.merge(x_test_min,avg_movie, on="user_id",how="left").fillna(3.603814223642363)

In [ ]:
pred_movie_avg.head()

   id  user_id  movie_id  timestamp    rating
0   0        5      2962  974769784  3.637931
1   1        5      3177  974769768  3.637931
2   2        5      3153  974769768  3.637931
3   3        5       501  974769768  3.637931
4   4        5      3159  974769768  3.637931

In [ ]:
pred_movie_avg2 = pd.merge(pred_movie_avg,base, how='left',left_on=['user_id'],right_on=['base'])

In [ ]:
pred_movie_avg2.head()

   id  user_id  movie_id  timestamp  ...  similar  base         w  sub_group_rank
0   0        5      2962  974769784  ...    104.0   5.0  0.519030             1.0
1   0        5      2962  974769784  ...    725.0   5.0  0.497589             2.0
2   0        5      2962  974769784  ...    112.0   5.0  0.478498             3.0
3   0        5      2962  974769784  ...    611.0   5.0  0.460403             4.0
4   0        5      2962  974769784  ...    360.0   5.0  0.439991             5.0

[5 rows x 9 columns]

In [ ]:
df_norm[['rating_avgr_movie','user_id','movie_id']].dtypes

rating_avgr_movie    float64
user_id                int64
movie_id               int64
dtype: object

In [ ]:
pred_movie_avg2['similar'] = pred_movie_avg2['similar'].fillna(0).astype(int)
pred_movie_avg2.dtypes

id                  int64
user_id             int64
movie_id            int64
timestamp           int64
rating            float64
similar             int64
base              float64
w                 float64
sub_group_rank    float64
dtype: object

In [ ]:
pred_movie_avg3 = pd.merge(pred_movie_avg2,df_norm[['rating_avgr_user','user_id','movie_id']],\
                           how='left',left_on=['movie_id','similar'],right_on=['movie_id','user_id']).fillna(0)

In [ ]:
pred_movie_avg3.head()

   id  user_id_x  movie_id  ...  sub_group_rank  rating_avgr_user  user_id_y
0   0          5      2962  ...             1.0          0.000000        0.0
1   0          5      2962  ...             2.0          0.000000        0.0
2   0          5      2962  ...             3.0         -2.111111      112.0
3   0          5      2962  ...             4.0          0.000000        0.0
4   0          5      2962  ...             5.0          0.000000        0.0

[5 rows x 11 columns]

In [ ]:
pred_movie_avg3['avg_pond'] = pred_movie_avg3['w']* pred_movie_avg3['rating_avgr_user']

In [ ]:
pred_movie_avg3.head()

   id  user_id_x  movie_id  ...  rating_avgr_user  user_id_y  avg_pond
0   0          5      2962  ...          0.000000        0.0  0.000000
1   0          5      2962  ...          0.000000        0.0  0.000000
2   0          5      2962  ...         -2.111111      112.0 -1.010162
3   0          5      2962  ...          0.000000        0.0  0.000000
4   0          5      2962  ...          0.000000        0.0  0.000000

[5 rows x 12 columns]

In [ ]:
pred_movie_avg3.count()

id                  23250
user_id_x           23250
movie_id            23250
timestamp           23250
rating              23250
similar             23250
base                23250
w                   23250
sub_group_rank      23250
rating_avgr_user    23250
user_id_y           23250
avg_pond            23250
dtype: int64

In [ ]:
pred_movie_avg3.to_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/escoragem_v4.csv',index=False)

## **4 - Baseline**

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/train_data.csv',sep=',')
df.head()

x_train, x_test,= train_test_split(df, test_size=0.3, random_state=0)

In [ ]:
x_train.head()

        user_id  movie_id  rating  timestamp
71608       697      2348       1  974754467
276128     2214      1351       4  967388817
270463     2180      1134       1  967022501
263232     2143       742       3  967234398
234148     1953      1708       4  967919937

In [ ]:
global_mean = x_train['rating'].mean()
global_mean

3.6036080715001813

In [ ]:
def sub_mean(df):

  ## Global mean
  global_mean = df['rating'].mean()

  ## Normalize rating by movie
  avg_movie = pd.DataFrame((df['rating']-global_mean).groupby(df['movie_id']).mean())
  avg_movie = avg_movie.rename(columns = {'rating': 'avg_movie'})
  avg_movie.reset_index(inplace=True)
  
  return global_mean, avg_movie

def sub_mean2(df,global_mean):
  ## Normalize rating by user
  avg_user= pd.DataFrame((df['rating'] - global_mean- df['avg_movie']).groupby(df['user_id']).mean())
  avg_user = avg_user.rename(columns = {0: 'avg_user'})
  avg_user.reset_index(inplace=True)

  return avg_user

In [ ]:
global_mean, avg_movie = sub_mean(x_train)

In [ ]:
x_train1 = pd.merge(x_train, avg_movie, on="movie_id")

In [ ]:
x_train1.head()

   user_id  movie_id  rating  timestamp  avg_movie
0      697      2348       1  974754467  -1.237629
1     1801      2348       1  968814334  -1.237629
2     2402      2348       3  966068330  -1.237629
3     2921      2348       2  965277359  -1.237629
4      648      2348       2  974677635  -1.237629

In [ ]:
avg_user = sub_mean2(x_train1,global_mean)

In [ ]:
avg_user.head()

   user_id  avg_user
0        1 -0.149574
1        2 -0.182651
2        3  0.237893
3        4  0.346358
4        5 -0.008860

In [ ]:
x_train2 = pd.merge(x_train1, avg_user, on="user_id")

In [ ]:
x_train2['predict'] = global_mean + x_train2['avg_user'] + x_train2['avg_movie']

In [ ]:
x_train2.head()

   user_id  movie_id  rating  timestamp  avg_movie  avg_user   predict
0      697      2348       1  974754467  -1.237629 -0.087227  2.278753
1      697      2924       4  974756147   0.102836 -0.087227  3.619217
2      697      2286       5  974755277   0.742121 -0.087227  4.258502
3      697      1690       2  974751475  -0.436941 -0.087227  3.079440
4      697       562       5  974755555   0.303970 -0.087227  3.820352

In [ ]:
((x_train2['rating'] - x_train2['predict']) ** 2).mean() ** .5

0.8892404516947805

In [ ]:
global_mean

3.6036080715001813

In [ ]:
# Estimativas
#global_mean = 3.6036080715001813
avg_user.to_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/baseline_avg_user.csv',index=False)
avg_movie.to_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/baseline_avg_movie.csv',index=False)

#### **4.1 - Predictions**

In [ ]:
avg_user['avg_user'].mean()

0.025793103889861925

In [ ]:
df_test1 = pd.merge(x_test, avg_movie, on="movie_id",how='left').fillna(avg_movie['avg_movie'].mean())
df_test2 = pd.merge(df_test1, avg_user, on="user_id",how='left').fillna(avg_user['avg_user'].mean())
# Predições
df_test2['predict'] = global_mean + df_test2['avg_user'] + df_test2['avg_movie']
df_test2.head()

   user_id  movie_id  rating  timestamp  avg_movie  avg_user   predict
0     3142      2842       3  964983390   0.172511 -0.311590  3.464529
1      316      3531       2  974710002  -1.300578  0.442251  2.745282
2     1425      1675       5  972958612   0.648728  0.291974  4.544310
3     3022      2027       5  965165835   0.156857  0.344100  4.104565
4     2218      1775       5  966694023   0.737410 -0.268923  4.072095

In [ ]:
((df_test2['rating'] - df_test2['predict']) ** 2).mean() ** .5

0.9088475951084722

In [ ]:
df_valid = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/test_data.csv',sep=',')
df_valid.count()

id           3970
user_id      3970
movie_id     3970
timestamp    3970
dtype: int64

In [ ]:
df_valid1 = pd.merge(df_valid, avg_movie, on="movie_id",how='left').fillna(avg_movie['avg_movie'].mean())
df_valid2 = pd.merge(df_valid1, avg_user, on="user_id",how='left').fillna(avg_user['avg_user'].mean())
# Predições
df_valid2['predict'] = global_mean + df_valid2['avg_user'] + df_valid2['avg_movie']
df_valid2.head()

   id  user_id  movie_id  timestamp  avg_movie  avg_user   predict
0   0        5      2962  974769784  -0.152741  -0.00886  3.442007
1   1        5      3177  974769768  -0.298675  -0.00886  3.296073
2   2        5      3153  974769768  -0.736941  -0.00886  2.857807
3   3        5       501  974769768   0.018014  -0.00886  3.612761
4   4        5      3159  974769768  -0.567894  -0.00886  3.026854

In [ ]:
df_valid2[['id','predict']].to_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/baseline_v2.csv',index=False)

## **5 - Hibrida: Gradiente Boosting**

In [148]:
df = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/train_data.csv',sep=',')
df.head()

x_train, x_test,= train_test_split(df, test_size=0.3, random_state=0)

In [149]:
df_movie = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/movies_data.csv',sep=',')
df_movie.head()

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [150]:
df_user = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/users_data.csv',sep=',')
df_user.head()

   user_id gender  age  occupation zip_code
0        1      M   35          17    49508
1        2      M   35           1    10918
2        3      M   25          20    14895
3        4      F   25           0    97401
4        5      M   35          12    75069

#### **5.1 - Criação de Features**

In [ ]:
x_train1 = pd.merge(x_train, df_user, on="user_id",how='left').fillna(avg_user['avg_user'].mean())

In [ ]:
x_train1.to_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/expxloratoria1.csv',index=False)

In [ ]:
x_train2 = pd.merge(x_train, df_movie, on="movie_id",how='left').fillna(avg_movie['avg_movie'].mean())

In [ ]:
x_train2.to_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/expxloratoria2.csv',index=False)

#### **5.2 - Dados com features**

In [151]:
df_movie = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/movies_data2.csv',sep=';')
df_movie.head()

   movie_id   ano  genres_ratings  ...  Film-Noir  War  Fantasy
0         1  1995        3.898734  ...          0    0        0
1         2  1995        3.323150  ...          0    0        1
2         3  1995        3.557447  ...          0    0        0
3         4  1995        3.738470  ...          0    0        0
4         5  1995        3.493419  ...          0    0        0

[5 rows x 22 columns]

In [152]:
df_user = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/users_data2.csv',sep=';')
df_user.head()

   user_id  age  occupationA  ...  occupationG  sexo_M      CEP2
0        1   35            0  ...            0       1  0.457415
1        2   35            0  ...            0       1  0.596626
2        3   25            0  ...            0       1  0.594607
3        4   25            0  ...            0       0  0.599375
4        5   35            0  ...            0       1  0.609027

[5 rows x 11 columns]

In [153]:
# Estimativas
global_mean = 3.6036080715001813
avg_user = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/baseline_avg_user.csv')
avg_movie = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/baseline_avg_movie.csv')

In [154]:
avg_user.head()

   user_id  avg_user
0        1 -0.149574
1        2 -0.182651
2        3  0.237893
3        4  0.346358
4        5 -0.008860

In [155]:
avg_movie.head()

   movie_id  avg_movie
0         1   0.514974
1         2  -0.382264
2         3  -0.544436
3         4  -0.849222
4         5  -0.480013

In [156]:
df_1 = pd.merge(df, avg_movie, on="movie_id",how='left').fillna(avg_movie['avg_movie'].mean())
df_2 = pd.merge(df_1, avg_user, on="user_id",how='left').fillna(avg_user['avg_user'].mean())
# Predições
df_2['baseline'] = global_mean + df_2['avg_user'] + df_2['avg_movie']
df_3 = pd.merge(df_2, df_movie, on="movie_id",how='left').fillna(0)
df_4 = pd.merge(df_3, df_user, on="user_id",how='left').fillna(0)
#df_4.set_index(['user_id','movie_id'],inplace=True)

df_4.head()

   user_id  movie_id  rating  ...  occupationG  sexo_M      CEP2
0        1      1160       5  ...            0       1  0.457415
1        1      1129       3  ...            0       1  0.457415
2        1      3328       4  ...            0       1  0.457415
3        1      2659       2  ...            0       1  0.457415
4        1       980       3  ...            0       1  0.457415

[5 rows x 38 columns]

#### **5.3 - Criação do banco de dados**

##### **5.3.1 - train**

In [157]:
df_train1 = pd.merge(x_train, avg_movie, on="movie_id",how='left').fillna(avg_movie['avg_movie'].mean())
df_train2 = pd.merge(df_train1, avg_user, on="user_id",how='left').fillna(avg_user['avg_user'].mean())
# Predições
df_train2['baseline'] = global_mean + df_train2['avg_user'] + df_train2['avg_movie']
df_train3 = pd.merge(df_train2, df_movie, on="movie_id",how='left').fillna(0)
df_train4 = pd.merge(df_train3, df_user, on="user_id",how='left').fillna(0)
df_train4.set_index(['user_id','movie_id'],inplace=True)
df_train4.head()

                  rating  timestamp  avg_movie  ...  occupationG  sexo_M      CEP2
user_id movie_id                                ...
697     2348           1  974754467  -1.237629  ...            0       1  0.536589
2214    1351           4  967388817   0.035078  ...            0       0  0.534133
2180    1134           1  967022501   0.229725  ...            0       1  0.448700
2143    742            3  967234398  -0.046004  ...            0       1  0.604936
1953    1708           4  967919937   0.466252  ...            0       0  0.589485

[5 rows x 36 columns]

##### **5.3.2 - test**

In [158]:
df_test1 = pd.merge(x_test, avg_movie, on="movie_id",how='left').fillna(avg_movie['avg_movie'].mean())
df_test2 = pd.merge(df_test1, avg_user, on="user_id",how='left').fillna(avg_user['avg_user'].mean())
# Predições
df_test2['baseline'] = global_mean + df_test2['avg_user'] + df_test2['avg_movie']
df_test3 = pd.merge(df_test2, df_movie, on="movie_id",how='left').fillna(0)
df_test4 = pd.merge(df_test3, df_user, on="user_id",how='left').fillna(0)
df_test4.set_index(['user_id','movie_id'],inplace=True)
df_test4.head()

                  rating  timestamp  avg_movie  ...  occupationG  sexo_M      CEP2
user_id movie_id                                ...
3142    2842           3  964983390   0.172511  ...            0       1  0.528647
316     3531           2  974710002  -1.300578  ...            0       1  0.567772
1425    1675           5  972958612   0.648728  ...            0       1  0.570423
3022    2027           5  965165835   0.156857  ...            0       1  0.609027
2218    1775           5  966694023   0.737410  ...            0       1  0.576065

[5 rows x 36 columns]

##### **5.3.3 - valid**

In [159]:
df_valid = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/test_data.csv',sep=',')
df_valid.head()

   id  user_id  movie_id  timestamp
0   0        5      2962  974769784
1   1        5      3177  974769768
2   2        5      3153  974769768
3   3        5       501  974769768
4   4        5      3159  974769768

In [223]:
df_valid1 = pd.merge(df_valid, avg_movie, on="movie_id",how='left').fillna(avg_movie['avg_movie'].mean())
df_valid2 = pd.merge(df_valid1, avg_user, on="user_id",how='left').fillna(avg_user['avg_user'].mean())
# Predições
df_valid2['baseline'] = global_mean + df_valid2['avg_user'] + df_valid2['avg_movie']
df_valid3 = pd.merge(df_valid2, df_movie, on="movie_id",how='left').fillna(0)
df_valid4 = pd.merge(df_valid3, df_user, on="user_id",how='left').fillna(0)
df_valid4.set_index(['id','user_id','movie_id'],inplace=True)
df_valid4.head()

                     timestamp  avg_movie  ...  sexo_M      CEP2
id user_id movie_id                        ...
0  5       2962      974769784 -0.152741   ...  1       0.609027
1  5       3177      974769768 -0.298675   ...  1       0.609027
2  5       3153      974769768 -0.736941   ...  1       0.609027
3  5       501       974769768  0.018014   ...  1       0.609027
4  5       3159      974769768 -0.567894   ...  1       0.609027

[5 rows x 35 columns]

##### **5.3.4 - Ajuste do modelo**

In [224]:
# Dados
df = df_4.copy()
del df['rating']
y = np.array(df_4['rating'].copy())

train = df_train4.copy()
del train['rating']
test = df_test4.copy()
del test['rating']
valid = df_valid4.copy()
y_train = np.array(df_train4['rating'].copy())
y_test  = np.array(df_test4['rating'].copy())

In [206]:
from xgboost import XGBRegressor

model = XGBRegressor(nthread=-1,n_estimators=1000,max_depth=5, 
                      colsample_bytree=0.8, 
                      learning_rate=0.1,
                      subsample=0.8,
                      gamma=1,
                      min_child_weight = 30,
                      reg_lambda = 22,
                      reg_alpha = 22,
                      objective='reg:squarederror',
                      seed=123)

start_time = time.time()
model.fit(train, y_train)
print("--- %s seconds ---" % (time.time() - start_time))

--- 812.0221309661865 seconds ---

In [209]:
df.set_index(['user_id','movie_id']).head()

                  timestamp  avg_movie  avg_user  ...  occupationG  sexo_M      CEP2
user_id movie_id                                  ...
1       1160      974769817   0.268732 -0.149574  ...            0       1  0.457415
        1129      974769817   0.394473 -0.149574  ...            0       1  0.457415
        3328      974769817   0.068232 -0.149574  ...            0       1  0.457415
        2659      974769817   0.097541 -0.149574  ...            0       1  0.457415
        980       974769817   0.284284 -0.149574  ...            0       1  0.457415

[5 rows x 35 columns]

In [ ]:
start_time = time.time()
y_pred = model.predict(train) # Predictions
print("--- %s seconds ---" % (time.time() - start_time))
y_true = y_train # True val

In [200]:
from sklearn.metrics import mean_squared_error as mse
MSE = mse(y_true, y_pred)
RMSE = np.sqrt(MSE)
RMSE

0.7047396620355152

In [201]:
y_pred = model.predict(test) # Predictions
y_true = y_test # True values

MSE = mse(y_true, y_pred)
RMSE = np.sqrt(MSE)
RMSE

0.8886621523573195

In [217]:
#valid.reset_index(inplace=True)
#valid.set_index(['id'],inplace=True)
valid['rating'] = model.predict(valid) # Predictions
valid.head()

    user_id  movie_id  timestamp  ...  sexo_M      CEP2    rating
id                                ...
0         5      2962  974769784  ...       1  0.609027  3.279542
1         5      3177  974769768  ...       1  0.609027  3.502252
2         5      3153  974769768  ...       1  0.609027  2.938510
3         5       501  974769768  ...       1  0.609027  3.511412
4         5      3159  974769768  ...       1  0.609027  2.908314

[5 rows x 38 columns]

In [218]:
valid.reset_index(inplace=True)

In [219]:
valid[['id','rating']].to_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/boost_full.csv',index=False)

## **6 - FBC**

#### **6.1 - FBC-KNN Gênero**

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/train_data.csv',sep=',')
df.head()

x_train, x_test,= train_test_split(df, test_size=0.3, random_state=0)

In [ ]:
x_train.head()

        user_id  movie_id  rating  timestamp
71608       697      2348       1  974754467
276128     2214      1351       4  967388817
270463     2180      1134       1  967022501
263232     2143       742       3  967234398
234148     1953      1708       4  967919937

In [ ]:
df_valid = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/test_data.csv',sep=',')
df_valid.head()

   id  user_id  movie_id  timestamp
0   0        5      2962  974769784
1   1        5      3177  974769768
2   2        5      3153  974769768
3   3        5       501  974769768
4   4        5      3159  974769768

In [ ]:
df[['user_id','movie_id','rating']].to_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/df_f.csv',index=False,sep='\t',header=None)

In [ ]:
x_train[['user_id','movie_id','rating']].to_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/x_train_f.csv',index=False,sep='\t',header=None)
x_test[['user_id','movie_id','rating']].to_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/x_test_f.csv',index=False,sep='\t',header=None)
df_valid[['user_id','movie_id','id']].to_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/valiacao_f.csv',index=False,sep='\t',header=None)

In [ ]:
# Metadata
df_movie = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/movies_data2.csv',sep=';')
df_movie.head()

   movie_id   ano  genres_ratings  ...  Film-Noir  War  Fantasy
0         1  1995        3.898734  ...          0    0        0
1         2  1995        3.323150  ...          0    0        1
2         3  1995        3.557447  ...          0    0        0
3         4  1995        3.738470  ...          0    0        0
4         5  1995        3.493419  ...          0    0        0

[5 rows x 22 columns]

In [ ]:
df_movie['fg'] = 1

In [ ]:
df_movie.head()

   movie_id   ano  genres_ratings  genres_score  ...  Film-Noir  War  Fantasy  fg
0         1  1995        3.898734      0.707834  ...          0    0        0   1
1         2  1995        3.323150      0.458927  ...          0    0        1   1
2         3  1995        3.557447      0.554742  ...          0    0        0   1
3         4  1995        3.738470      0.632070  ...          0    0        0   1
4         5  1995        3.493419      0.541901  ...          0    0        0   1

[5 rows x 23 columns]

In [ ]:
#df_movie[['movie_id','Comedy','Action','Crime','Thriller','Romance','Adventure','Horror',"Children's",'Drama','Sci-Fi','Musical','Animation','Documentary','Western','Mystery','Film-Noir','War','Fantasy']].to_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/metadata_genero.csv',index=False,sep='\t',header=True)
#df_movie[['movie_id','Comedy']].to_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/metadata_genero_com.csv',index=False,sep='\t',header=True)

In [ ]:
df_movie_rec = df_movie[['movie_id','Comedy','Action','Crime','Thriller','Romance','Adventure','Horror',"Children's",'Drama','Sci-Fi','Musical','Animation','Documentary','Western','Mystery','Film-Noir','War','Fantasy']].copy()

In [ ]:
df_movie_rec.set_index(['movie_id'],inplace=True)
df_movie_rec.head()

          Comedy  Action  Crime  Thriller  ...  Mystery  Film-Noir  War  Fantasy
movie_id                                   ...
1              1       0      0         0  ...        0          0    0        0
2              0       0      0         0  ...        0          0    0        1
3              1       0      0         0  ...        0          0    0        0
4              1       0      0         0  ...        0          0    0        0
5              1       0      0         0  ...        0          0    0        0

[5 rows x 18 columns]

In [ ]:
sparsity = 1.0 - count_nonzero(df_movie_rec) /df_movie_rec.size
print(sparsity)

0.9063474248659433

In [ ]:
from scipy import sparse

similarity = cosine_similarity(sparse.csr_matrix(df_movie_rec), dense_output = False)

In [ ]:
y =pd.DataFrame(np.matrix(sparse.find(similarity)).T,columns=['similar','base','w'])

In [ ]:
y.to_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/y.csv',index=False,sep=';',header=True)

In [ ]:
def sim_knearb(movie,k,y):
  
  z = y[y['base'] != y['similar']]

  return z[z['base'].isin([movie])].sort_values(by='w',ascending=False).head(k)

In [ ]:
def avg_knearb(x,k,y):
  
  # auxiliar variables
  j = 0
  aux  = {'similar': [0.0], 'base': [0], 'w':[0.0]}
  base = pd.DataFrame(aux, columns = ['similar','base','w'])

  x_u=x['user_id'].unique()
  
  #for j in x_u:
  for j in [2214,697]:
  
    mx = x[x['user_id'].isin([x_u[j]])]['movie_id'].unique()
    for i in mx:
  
      top = sim_knearb(i , k , y)
      base = pd.concat([base, top])

      print('usuário #:', j, 'filme #:', i)
      
    base['sub_group_rank'] = base.groupby('base')['w'].rank(ascending=False)
  
  
  return base

In [ ]:
base = avg_knearb(x_train,5,y)

#### **6.2 - FBC Linear - gênero do filme**

In [31]:
df = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/train_data.csv',sep=',')
x_train, x_test,= train_test_split(df, test_size=0.3, random_state=0)

df_valid = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/test_data.csv',sep=',')

# Metadata
df_movie = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/movies_data2.csv',sep=';')

In [32]:
df_movie_rec = df_movie[['movie_id','Comedy','Action','Crime','Thriller','Romance','Adventure','Horror',"Children's",'Drama','Sci-Fi','Musical','Animation','Documentary','Western','Mystery','Film-Noir','War','Fantasy']].copy()
df_movie_rec.head()

   movie_id  Comedy  Action  Crime  ...  Mystery  Film-Noir  War  Fantasy
0         1       1       0      0  ...        0          0    0        0
1         2       0       0      0  ...        0          0    0        1
2         3       1       0      0  ...        0          0    0        0
3         4       1       0      0  ...        0          0    0        0
4         5       1       0      0  ...        0          0    0        0

[5 rows x 19 columns]

In [33]:
reg_movie = pd.merge(x_train[['movie_id','rating']],df_movie_rec, on="movie_id",how="left").fillna(0)

In [34]:
reg_movie.set_index(['movie_id'],inplace=True)
reg_movie.head()

          rating  Comedy  Action  Crime  ...  Mystery  Film-Noir  War  Fantasy
movie_id                                 ...
2348           1       0       1      0  ...        0          0    0        0
1351           4       0       1      0  ...        0          0    0        0
1134           1       0       1      0  ...        0          0    0        0
742            3       0       0      0  ...        0          0    0        0
1708           4       0       0      0  ...        0          0    0        0

[5 rows x 19 columns]

In [36]:
X = reg_movie[['Comedy','Action','Crime','Thriller','Romance','Adventure','Horror',"Children's",'Drama','Sci-Fi','Musical','Animation','Documentary','Western','Mystery','Film-Noir','War','Fantasy']]
Y = reg_movie[['rating']]

##### **6.2.1 - OLS**

In [136]:
from sklearn.linear_model import LinearRegression

In [137]:
import time
start_time = time.time()
reg = LinearRegression().fit(X, Y)
print("--- %s seconds ---" % (time.time() - start_time))

--- 0.3143188953399658 seconds ---

In [138]:
df_movie_rec_ols = df_movie_rec.copy()

In [139]:
df_movie_rec_ols.set_index(['movie_id'],inplace=True)

start_time = time.time()
df_movie_rec_ols['pred'] = reg.predict(df_movie_rec_ols)
print("--- %s seconds ---" % (time.time() - start_time))

df_movie_rec_ols.reset_index(inplace=True)
df_movie_rec_ols.head()

--- 0.004384279251098633 seconds ---

   movie_id  Comedy  Action  Crime  ...  Film-Noir  War  Fantasy      pred
0         1       1       0      0  ...          0    0        0  3.544971
1         2       0       0      0  ...          0    0        1  3.273610
2         3       1       0      0  ...          0    0        0  3.507418
3         4       1       0      0  ...          0    0        0  3.739562
4         5       1       0      0  ...          0    0        0  3.512673

[5 rows x 20 columns]

In [140]:
# Treino
reg_train = pd.merge(x_train[['movie_id','rating']],df_movie_rec_ols[['movie_id','pred']], on="movie_id",how="left").fillna(3.6036080715001813)
reg_train.head()

   movie_id  rating      pred
0      2348       1  3.408351
1      1351       4  3.390990
2      1134       1  3.438359
3       742       3  3.827560
4      1708       4  3.758384

In [141]:
MSE = mse(reg_train['rating'], reg_train['pred'])
RMSE = np.sqrt(MSE)
RMSE

1.0893419592395774

In [142]:
# Teste
reg_test = pd.merge(x_test[['movie_id','rating']],df_movie_rec_ols[['movie_id','pred']], on="movie_id",how="left").fillna(3.6036080715001813)
reg_test.head()

   movie_id  rating      pred
0      2842       3  3.734479
1      3531       2  3.226438
2      1675       5  3.831883
3      2027       5  3.512673
4      1775       5  3.948276

In [143]:
MSE = mse(reg_test['rating'], reg_test['pred'])
RMSE = np.sqrt(MSE)
RMSE

1.092733939961501

In [146]:
# Validacao
reg_valid = pd.merge(df_valid,df_movie_rec_ols[['movie_id','pred']], on="movie_id",how="left").fillna(3.6036080715001813)
reg_valid.head()

   id  user_id  movie_id  timestamp      pred
0   0        5      2962  974769784  3.390990
1   1        5      3177  974769768  3.276793
2   2        5      3153  974769768  3.758384
3   3        5       501  974769768  3.758384
4   4        5      3159  974769768  3.512673

In [147]:
reg_valid[['id','pred']].to_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/OLS.csv',index=False,sep=',',header=True)

##### **6.2.2 - ElasticNet**

In [114]:
from sklearn.linear_model import ElasticNet

In [129]:
clf = ElasticNet(random_state=0,l1_ratio =0.8,max_iter=10000,)
start_time = time.time()
en =clf.fit(X, Y)
print("--- %s seconds ---" % (time.time() - start_time))

--- 0.09944868087768555 seconds ---

In [130]:
df_movie_rec_el = df_movie_rec.copy()

In [131]:
df_movie_rec_el.set_index(['movie_id'],inplace=True)

start_time = time.time()
df_movie_rec_el['pred'] = en.predict(df_movie_rec_el)
print("--- %s seconds ---" % (time.time() - start_time))

df_movie_rec_el.reset_index(inplace=True)
df_movie_rec_el.head()

--- 0.008411884307861328 seconds ---

   movie_id  Comedy  Action  Crime  ...  Film-Noir  War  Fantasy      pred
0         1       1       0      0  ...          0    0        0  3.603608
1         2       0       0      0  ...          0    0        1  3.603608
2         3       1       0      0  ...          0    0        0  3.603608
3         4       1       0      0  ...          0    0        0  3.603608
4         5       1       0      0  ...          0    0        0  3.603608

[5 rows x 20 columns]

In [132]:
# Treino
reg_train2 = pd.merge(x_train[['movie_id','rating']],df_movie_rec_el[['movie_id','pred']], on="movie_id",how="left").fillna(3.6036080715001813)
reg_train2.head()

   movie_id  rating      pred
0      2348       1  3.603608
1      1351       4  3.603608
2      1134       1  3.603608
3       742       3  3.603608
4      1708       4  3.603608

In [133]:
MSE = mse(reg_train2['rating'], reg_train2['pred'])
RMSE = np.sqrt(MSE)
RMSE

1.1099391733954327

In [134]:
# Teste
reg_teste2 = pd.merge(x_test[['movie_id','rating']],df_movie_rec_el[['movie_id','pred']], on="movie_id",how="left").fillna(3.6036080715001813)
reg_teste2.head()

   movie_id  rating      pred
0      2842       3  3.603608
1      3531       2  3.603608
2      1675       5  3.603608
3      2027       5  3.603608
4      1775       5  3.603608

In [135]:
MSE = mse(reg_teste2['rating'], reg_teste2['pred'])
RMSE = np.sqrt(MSE)
RMSE

1.1132316608170834

In [ ]:
#!pip install -U git+git://github.com/caserec/CaseRecommender.git

Collecting git+git://github.com/caserec/CaseRecommender.git
  Cloning git://github.com/caserec/CaseRecommender.git to /tmp/pip-req-build-flez3n1r
  Running command git clone -q git://github.com/caserec/CaseRecommender.git /tmp/pip-req-build-flez3n1r
Requirement already satisfied, skipping upgrade: numpy in /usr/local/lib/python3.7/dist-packages (from CaseRecommender==1.1.0) (1.19.5)
Requirement already satisfied, skipping upgrade: scipy in /usr/local/lib/python3.7/dist-packages (from CaseRecommender==1.1.0) (1.4.1)
Requirement already satisfied, skipping upgrade: scikit-learn in /usr/local/lib/python3.7/dist-packages (from CaseRecommender==1.1.0) (0.22.2.post1)
Requirement already satisfied, skipping upgrade: pandas in /usr/local/lib/python3.7/dist-packages (from CaseRecommender==1.1.0) (1.1.5)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->CaseRecommender==1.1.0) (1.0.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->CaseRecommender==1.1.0) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->CaseRecommender==1.1.0) (2.8.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->CaseRecommender==1.1.0) (1.15.0)
Building wheels for collected packages: CaseRecommender
  Building wheel for CaseRecommender (setup.py) ... done
  Created wheel for CaseRecommender: filename=CaseRecommender-1.1.0-py2.py3-none-any.whl size=102476 sha256=35898d83c7936848c84122bde8f48505cd4952c0ecad4b567ef019f1adfd0a98
  Stored in directory: /tmp/pip-ephem-wheel-cache-nl2tyuwo/wheels/ec/77/4d/eb41f89bb045567e0471af1099690c3886bbcdb045d80b75d0
Successfully built CaseRecommender
Installing collected packages: CaseRecommender
Successfully installed CaseRecommender-1.1.0

##### **6.2 - Ajuste do modelos - Fatoração de Matrizes**

In [ ]:
from caserec.recommenders.rating_prediction.matrixfactorization import MatrixFactorization

In [ ]:
train = '/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/x_train.csv'
test = '/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/valiacao.csv'
#output_file = '/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/valiacaoXX.csv'
output_file = '/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/valid_test.csv'


MatrixFactorization(train, test,output_file, factors = 15).compute()

[Case Recommender: Rating Prediction > Matrix Factorization]

train data:: 3952 users and 3562 items (535784 interactions) | sparsity:: 96.19%
test data:: 418 users and 1611 items (3970 interactions) | sparsity:: 99.41%

training_time:: 127.608357 sec
prediction_time:: 0.018249 sec


Eval:: MAE: 1980.859895 RMSE: 2288.490069

In [ ]:
df_pred = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/valid_test.csv',sep='\t',header=None)
df_pred = df_pred.rename(columns = {0: 'user_id', 1: 'movie_id',2:'rating'}, inplace = False)
df_pred.head()

   user_id  movie_id    rating
0        5      2962  3.144200
1        5      3177  3.450826
2        5      3153  2.871020
3        5       501  3.462969
4        5      3159  3.153317

In [ ]:
df_pred2 = pd.merge(df_valid, df_pred,left_on=['user_id','movie_id'], right_on = ['user_id','movie_id'])
df_pred2.head()

   id  user_id  movie_id  timestamp    rating
0   0        5      2962  974769784  3.144200
1   1        5      3177  974769768  3.450826
2   2        5      3153  974769768  2.871020
3   3        5       501  974769768  3.462969
4   4        5      3159  974769768  3.153317

In [ ]:
df_pred2.count()

id           3970
user_id      3970
movie_id     3970
timestamp    3970
rating       3970
dtype: int64

In [ ]:
df_pred2[['id','rating']].to_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/naovaidaremnada2.csv',index=False)

##### **6.3 - Ajuste do modelos - Fatoração de Matrizes (usando Gradiente Descendente Estocástico)**

In [ ]:
from caserec.recommenders.rating_prediction.gsvdplusplus import GSVDPlusPlus

In [ ]:
train = '/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/x_train.csv'
test = '/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/valiacao.csv'
#output_file = '/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/valiacaoXX.csv'
output_file = '/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/valid_testx2.csv'
metadata = '/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/metadata.csv'

GSVDPlusPlus(train, test,output_file, metadata,learn_rate=0.1, stop_criteria=0.9).compute()

[Case Recommender: Rating Prediction > GSVDPlusPlus]

train data:: 3952 users and 3562 items (535784 interactions) | sparsity:: 96.19%
test data:: 418 users and 1611 items (3970 interactions) | sparsity:: 99.41%

/usr/local/lib/python3.7/dist-packages/caserec/recommenders/rating_prediction/gsvdplusplus.py:172: RuntimeWarning: overflow encountered in double_scalars
  error_final += (eui ** 2.0)
/usr/local/lib/python3.7/dist-packages/caserec/recommenders/rating_prediction/gsvdplusplus.py:178: RuntimeWarning: overflow encountered in multiply
  part_2_user = (np.multiply(eui, pi) - np.multiply(delta3, self.p[user]))
/usr/local/lib/python3.7/dist-packages/caserec/recommenders/rating_prediction/gsvdplusplus.py:181: RuntimeWarning: overflow encountered in multiply
  part_2_item = (np.multiply(eui, pu) - np.multiply(delta4, self.q[item]))
/usr/local/lib/python3.7/dist-packages/caserec/recommenders/rating_prediction/gsvdplusplus.py:187: RuntimeWarning: overflow encountered in multiply
  part_2 = (eui * self.n_g[item] * pu - delta5 * self.x[g])
/usr/local/lib/python3.7/dist-packages/caserec/recommenders/rating_prediction/gsvdplusplus.py:192: RuntimeWarning: overflow encountered in multiply
  part_2 = (eui * self.n_u[user] * pi - delta6 * self.y[j])
/usr/local/lib/python3.7/dist-packages/caserec/recommenders/rating_prediction/gsvdplusplus.py:179: RuntimeWarning: invalid value encountered in add
  self.p[user] = self.p[user] + learn_rate2 * part_2_user
/usr/local/lib/python3.7/dist-packages/caserec/recommenders/rating_prediction/gsvdplusplus.py:188: RuntimeWarning: invalid value encountered in add
  self.x[g] = self.x[g] + learn_rate2 * part_2
/usr/local/lib/python3.7/dist-packages/caserec/recommenders/rating_prediction/gsvdplusplus.py:193: RuntimeWarning: invalid value encountered in add
  self.y[j] = self.y[j] + learn_rate2 * part_2

KeyboardInterrupt: ignored

##### **6.1 - Combinação com BOOST**

In [ ]:
df_1 = pd.merge(df, avg_movie, on="movie_id",how='left').fillna(avg_movie['avg_movie'].mean())
df_2 = pd.merge(df_1, avg_user, on="user_id",how='left').fillna(avg_user['avg_user'].mean())
# Predições
df_2['baseline'] = global_mean + df_2['avg_user'] + df_2['avg_movie']
df_3 = pd.merge(df_2, df_movie, on="movie_id",how='left').fillna(0)
df_4 = pd.merge(df_3, df_user, on="user_id",how='left').fillna(0)
#df_4.set_index(['user_id','movie_id'],inplace=True)
df_4.head()

   user_id  movie_id  rating  ...  occupationG  sexo_M      CEP2
0        1      1160       5  ...            0       1  0.457415
1        1      1129       3  ...            0       1  0.457415
2        1      3328       4  ...            0       1  0.457415
3        1      2659       2  ...            0       1  0.457415
4        1       980       3  ...            0       1  0.457415

[5 rows x 38 columns]

In [ ]:
df_4.count()

user_id           535784
movie_id          535784
rating            535784
timestamp         535784
avg_movie         535784
avg_user          535784
baseline          535784
ano               535784
genres_ratings    535784
genres_score      535784
Comedy            535784
Action            535784
Crime             535784
Thriller          535784
Romance           535784
Adventure         535784
Horror            535784
Children's        535784
Drama             535784
Sci-Fi            535784
Musical           535784
Animation         535784
Documentary       535784
Western           535784
Mystery           535784
Film-Noir         535784
War               535784
Fantasy           535784
age               535784
occupationA       535784
occupationB       535784
occupationC       535784
occupationD       535784
occupationE       535784
occupationF       535784
occupationG       535784
sexo_M            535784
CEP2              535784
dtype: int64

In [ ]:
df_pred = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/valiacaoXX.csv',sep='\t',header=None)
df_pred = df_pred.rename(columns = {0: 'user_id', 1: 'movie_id',2:'pred'}, inplace = False)
df_pred.head()

   user_id  movie_id      pred
0        1      1160  4.160847
1        1      1129  3.905909
2        1      3328  3.936450
3        1      2659  3.837109
4        1       980  4.042356

In [ ]:
df_pred.count()

user_id     535784
movie_id    535784
pred        535784
dtype: int64

In [ ]:
df_pred2 = pd.merge(df_4, df_pred,left_on=['user_id','movie_id'], right_on = ['user_id','movie_id'])
df_pred2.head()

   user_id  movie_id  rating  ...  sexo_M      CEP2      pred
0        1      1160       5  ...       1  0.457415  4.160847
1        1      1129       3  ...       1  0.457415  3.905909
2        1      3328       4  ...       1  0.457415  3.936450
3        1      2659       2  ...       1  0.457415  3.837109
4        1       980       3  ...       1  0.457415  4.042356

[5 rows x 39 columns]

In [ ]:
df_pred2.count()

user_id           535784
movie_id          535784
rating            535784
timestamp         535784
avg_movie         535784
avg_user          535784
baseline          535784
ano               535784
genres_ratings    535784
genres_score      535784
Comedy            535784
Action            535784
Crime             535784
Thriller          535784
Romance           535784
Adventure         535784
Horror            535784
Children's        535784
Drama             535784
Sci-Fi            535784
Musical           535784
Animation         535784
Documentary       535784
Western           535784
Mystery           535784
Film-Noir         535784
War               535784
Fantasy           535784
age               535784
occupationA       535784
occupationB       535784
occupationC       535784
occupationD       535784
occupationE       535784
occupationF       535784
occupationG       535784
sexo_M            535784
CEP2              535784
pred              535784
dtype: int64

In [ ]:
df_valid1 = pd.merge(df_valid, avg_movie, on="movie_id",how='left').fillna(avg_movie['avg_movie'].mean())
df_valid2 = pd.merge(df_valid1, avg_user, on="user_id",how='left').fillna(avg_user['avg_user'].mean())
# Predições
df_valid2['baseline'] = global_mean + df_valid2['avg_user'] + df_valid2['avg_movie']
df_valid3 = pd.merge(df_valid2, df_movie, on="movie_id",how='left').fillna(0)
df_valid4 = pd.merge(df_valid3, df_user, on="user_id",how='left').fillna(0)
#df_valid4.set_index(['id','user_id','movie_id'],inplace=True)
df_valid4.head()

   id  user_id  movie_id  timestamp  ...  occupationF  occupationG  sexo_M      CEP2
0   0        5      2962  974769784  ...            0            0       1  0.609027
1   1        5      3177  974769768  ...            0            0       1  0.609027
2   2        5      3153  974769768  ...            0            0       1  0.609027
3   3        5       501  974769768  ...            0            0       1  0.609027
4   4        5      3159  974769768  ...            0            0       1  0.609027

[5 rows x 38 columns]

In [ ]:
df_valid4.count()

id                3970
user_id           3970
movie_id          3970
timestamp         3970
avg_movie         3970
avg_user          3970
baseline          3970
ano               3970
genres_ratings    3970
genres_score      3970
Comedy            3970
Action            3970
Crime             3970
Thriller          3970
Romance           3970
Adventure         3970
Horror            3970
Children's        3970
Drama             3970
Sci-Fi            3970
Musical           3970
Animation         3970
Documentary       3970
Western           3970
Mystery           3970
Film-Noir         3970
War               3970
Fantasy           3970
age               3970
occupationA       3970
occupationB       3970
occupationC       3970
occupationD       3970
occupationE       3970
occupationF       3970
occupationG       3970
sexo_M            3970
CEP2              3970
dtype: int64

In [ ]:
df_predval = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/valid_test.csv',sep='\t',header=None)
df_predval = df_predval.rename(columns = {0: 'user_id', 1: 'movie_id',2:'pred'}, inplace = False)
df_predval.head()

   user_id  movie_id      pred
0        5      2962  3.216521
1        5      3177  3.259308
2        5      3153  3.024161
3        5       501  3.486193
4        5      3159  3.199285

In [ ]:
df_predval.count()

user_id     3970
movie_id    3970
pred        3970
dtype: int64

In [ ]:
df_valid2 = pd.merge(df_valid4, df_predval,left_on=['user_id','movie_id'], right_on = ['user_id','movie_id'])
df_valid2.head()

   id  user_id  movie_id  timestamp  ...  occupationG  sexo_M      CEP2      pred
0   0        5      2962  974769784  ...            0       1  0.609027  3.216521
1   1        5      3177  974769768  ...            0       1  0.609027  3.259308
2   2        5      3153  974769768  ...            0       1  0.609027  3.024161
3   3        5       501  974769768  ...            0       1  0.609027  3.486193
4   4        5      3159  974769768  ...            0       1  0.609027  3.199285

[5 rows x 39 columns]

In [ ]:
df_valid2.count()

id                3970
user_id           3970
movie_id          3970
timestamp         3970
avg_movie         3970
avg_user          3970
baseline          3970
ano               3970
genres_ratings    3970
genres_score      3970
Comedy            3970
Action            3970
Crime             3970
Thriller          3970
Romance           3970
Adventure         3970
Horror            3970
Children's        3970
Drama             3970
Sci-Fi            3970
Musical           3970
Animation         3970
Documentary       3970
Western           3970
Mystery           3970
Film-Noir         3970
War               3970
Fantasy           3970
age               3970
occupationA       3970
occupationB       3970
occupationC       3970
occupationD       3970
occupationE       3970
occupationF       3970
occupationG       3970
sexo_M            3970
CEP2              3970
pred              3970
dtype: int64

In [ ]:
# Dados

df = df_pred2.copy()
del df['rating']
y = np.array(df_pred2['rating'].copy())

valid = df_valid2.copy()

In [ ]:
df.set_index(['user_id','movie_id','timestamp'],inplace=True)

In [ ]:
df.head()

                            avg_movie  avg_user  ...      CEP2      pred
user_id movie_id timestamp                       ...
1       1160     974769817   0.268732 -0.149574  ...  0.457415  4.160847
        1129     974769817   0.394473 -0.149574  ...  0.457415  3.905909
        3328     974769817   0.068232 -0.149574  ...  0.457415  3.936450
        2659     974769817   0.097541 -0.149574  ...  0.457415  3.837109
        980      974769817   0.284284 -0.149574  ...  0.457415  4.042356

[5 rows x 35 columns]

In [ ]:
from xgboost import XGBRegressor

model = XGBRegressor(nthread=-1,n_estimators=300,max_depth=15, 
                      colsample_bytree=0.8, 
                      learning_rate=0.1,
                      subsample=0.8,
                      gamma=1,
                      min_child_weight = 30,
                      reg_lambda = 22,
                      reg_alpha = 22,
                      objective='reg:squarederror',

                      seed=123)
model.fit(df, y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.8, gamma=1,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=15, min_child_weight=30, missing=None, n_estimators=300,
             n_jobs=1, nthread=-1, objective='reg:squarederror', random_state=0,
             reg_alpha=22, reg_lambda=22, scale_pos_weight=1, seed=123,
             silent=None, subsample=0.8, verbosity=1)

In [ ]:
valid.head()

   id  user_id  movie_id  timestamp  ...  occupationG  sexo_M      CEP2      pred
0   0        5      2962  974769784  ...            0       1  0.609027  3.216521
1   1        5      3177  974769768  ...            0       1  0.609027  3.259308
2   2        5      3153  974769768  ...            0       1  0.609027  3.024161
3   3        5       501  974769768  ...            0       1  0.609027  3.486193
4   4        5      3159  974769768  ...            0       1  0.609027  3.199285

[5 rows x 39 columns]

In [ ]:
valid.set_index(['id','user_id','movie_id','timestamp'],inplace=True)

valid['rating'] = model.predict(valid) # Predictions
valid.head()

                               avg_movie  avg_user  ...      pred    rating
id user_id movie_id timestamp                       ...
0  5       2962     974769784  -0.152741  -0.00886  ...  3.216521  3.236366
1  5       3177     974769768  -0.298675  -0.00886  ...  3.259308  3.388315
2  5       3153     974769768  -0.736941  -0.00886  ...  3.024161  2.978996
3  5       501      974769768   0.018014  -0.00886  ...  3.486193  3.335950
4  5       3159     974769768  -0.567894  -0.00886  ...  3.199285  3.267828

[5 rows x 36 columns]

In [ ]:
valid.reset_index(inplace=True)

In [ ]:
valid[['id','rating']].to_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/boost_p_matrixf15_v2.csv',index=False)

## **9 - Movie Reviews**

In [222]:
df_review = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/text_sentiment.csv',sep=';')
df_review .head()

   movie_id  key_bad  key_good
0  1         1        1
1  2         0        0
2  3         1        0
3  4         0        1
4  5         1        1

In [254]:
# Dados
df = df_4.copy()
del df['rating']
y = np.array(df_4['rating'].copy())

train = df_train4.copy()
del train['rating']
test = df_test4.copy()
del test['rating']
valid = df_valid4.copy()
y_train = np.array(df_train4['rating'].copy())
y_test  = np.array(df_test4['rating'].copy())

In [255]:
df.reset_index(inplace=True)
df_text = pd.merge(df, df_review, on="movie_id",how='left').fillna(-1)

In [256]:
df_text.set_index(['index','user_id','movie_id','timestamp'],inplace=True)

In [257]:
df_text.head()

                                  avg_movie  avg_user  ...  key_bad  key_good
index user_id movie_id timestamp                       ...
0     1       1160     974769817  0.268732  -0.149574  ...  0.0      0.0
1     1       1129     974769817  0.394473  -0.149574  ...  0.0      1.0
2     1       3328     974769817  0.068232  -0.149574  ...  1.0      0.0
3     1       2659     974769817  0.097541  -0.149574  ...  1.0      1.0
4     1       980      974769817  0.284284  -0.149574  ...  1.0      1.0

[5 rows x 36 columns]

In [258]:
from xgboost import XGBRegressor

model = XGBRegressor(nthread=-1,n_estimators=1500,max_depth=25, 
                      colsample_bytree=0.8, 
                      learning_rate=0.1,
                      subsample=0.8,
                      gamma=1,
                      min_child_weight = 30,
                      reg_lambda = 22,
                      reg_alpha = 22,
                      objective='reg:squarederror',
                      seed=123)

start_time = time.time()
model.fit(df_text, y)
print("--- %s seconds ---" % (time.time() - start_time))

--- 8054.924278497696 seconds ---

In [271]:
start_time = time.time()
df_text['y_pred'] = model.predict(df_text) # Predictions
print("--- %s seconds ---" % (time.time() - start_time))

--- 245.06218147277832 seconds ---

In [272]:
df_text.head()

                                  avg_movie  avg_user  ...  key_good    y_pred
index user_id movie_id timestamp                       ...
0     1       1160     974769817  0.268732  -0.149574  ...  0.0       3.955698
1     1       1129     974769817  0.394473  -0.149574  ...  1.0       3.789539
2     1       3328     974769817  0.068232  -0.149574  ...  0.0       3.634226
3     1       2659     974769817  0.097541  -0.149574  ...  1.0       3.093282
4     1       980      974769817  0.284284  -0.149574  ...  1.0       3.857064

[5 rows x 37 columns]

In [274]:
df_text.reset_index(inplace=True)

In [275]:
df_text[['user_id','movie_id','y_pred']].to_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/pedito_geral.csv',index=False)

In [259]:
start_time = time.time()
y_pred = model.predict(train_text) # Predictions
print("--- %s seconds ---" % (time.time() - start_time))
y_true = y_train # True val

--- 221.20863461494446 seconds ---

In [260]:
from sklearn.metrics import mean_squared_error as mse
MSE = mse(y_true, y_pred)
RMSE = np.sqrt(MSE)
RMSE

0.7146073405003414

In [262]:
test_text.head()

   movie_id  timestamp  avg_movie  ...      CEP2  key_bad  key_good
0  2842      964983390  0.172511   ...  0.528647  1.0      1.0
1  3531      974710002 -1.300578   ...  0.567772  0.0      0.0
2  1675      972958612  0.648728   ...  0.570423  1.0      1.0
3  2027      965165835  0.156857   ...  0.609027  1.0      1.0
4  1775      966694023  0.737410   ...  0.576065  1.0      1.0

[5 rows x 38 columns]

In [263]:
#test.reset_index(inplace=True)
test_text = pd.merge(test, df_review, on="movie_id",how='left').fillna(-1)
test_text.set_index(['movie_id','timestamp'],inplace=True)

In [264]:
y_pred = model.predict(test_text) # Predictions
y_true = y_test # True values

MSE = mse(y_true, y_pred)
RMSE = np.sqrt(MSE)
RMSE

0.7228413247952822

In [265]:
valid.reset_index(inplace=True)
valid_text = pd.merge(valid, df_review, on="movie_id",how='left').fillna(-1)

In [266]:
valid_text.head()

   id  user_id  movie_id  timestamp  ...  sexo_M      CEP2  key_bad  key_good
0  0   5        2962      974769784  ...  1       0.609027  1.0      1.0
1  1   5        3177      974769768  ...  1       0.609027  0.0      0.0
2  2   5        3153      974769768  ...  1       0.609027  1.0      1.0
3  3   5        501       974769768  ...  1       0.609027  0.0      1.0
4  4   5        3159      974769768  ...  1       0.609027 -1.0     -1.0

[5 rows x 40 columns]

In [267]:
valid_text.set_index(['id','user_id','movie_id','timestamp'],inplace=True)
valid_text['rating'] = model.predict(valid_text) # Predictions
valid_text.head()

                               avg_movie  avg_user  ...  key_good    rating
id user_id movie_id timestamp                       ...
0  5       2962     974769784 -0.152741  -0.00886   ...  1.0       3.610496
1  5       3177     974769768 -0.298675  -0.00886   ...  0.0       3.765347
2  5       3153     974769768 -0.736941  -0.00886   ...  1.0       3.322035
3  5       501      974769768  0.018014  -0.00886   ...  1.0       3.640897
4  5       3159     974769768 -0.567894  -0.00886   ... -1.0       3.707864

[5 rows x 37 columns]

In [269]:
valid_text.reset_index(inplace=True)
valid_text[['id','rating']].to_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/boost_full_sentiment2.csv',index=False)

## Segmento

In [277]:
df = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/segmento.csv',sep=';')
df.head()

   user_id  movie_id  rating
0  1        1160      5
1  1        1067      5
2  1        821       4
3  1        1531      3
4  3        2667      5

In [278]:
df_movie = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/movies_data2.csv',sep=';')
df_movie.head()

df_user = pd.read_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/users_data2.csv',sep=';')
df_user.head()


df_1 = pd.merge(df, avg_movie, on="movie_id",how='left').fillna(avg_movie['avg_movie'].mean())
df_2 = pd.merge(df_1, avg_user, on="user_id",how='left').fillna(avg_user['avg_user'].mean())
# Predições
df_2['baseline'] = global_mean + df_2['avg_user'] + df_2['avg_movie']
df_3 = pd.merge(df_2, df_movie, on="movie_id",how='left').fillna(0)
df_4 = pd.merge(df_3, df_user, on="user_id",how='left').fillna(0)
#df_4.set_index(['user_id','movie_id'],inplace=True)

df_4.head()

   user_id  movie_id  rating  ...  occupationG  sexo_M      CEP2
0  1        1160      5       ...  0            1       0.457415
1  1        1067      5       ...  0            1       0.457415
2  1        821       4       ...  0            1       0.457415
3  1        1531      3       ...  0            1       0.457415
4  3        2667      5       ...  0            1       0.594607

[5 rows x 37 columns]

In [279]:
# Dados
df = df_4.copy()
del df['rating']
y = np.array(df_4['rating'].copy())

In [282]:
df.set_index(['user_id','movie_id'],inplace=True)

In [283]:
from xgboost import XGBRegressor

model = XGBRegressor(nthread=-1,n_estimators=1000,max_depth=5, 
                      colsample_bytree=0.8, 
                      learning_rate=0.1,
                      subsample=0.8,
                      gamma=1,
                      min_child_weight = 30,
                      reg_lambda = 22,
                      reg_alpha = 22,
                      objective='reg:squarederror',
                      seed=123)

start_time = time.time()
model.fit(df, y)
print("--- %s seconds ---" % (time.time() - start_time))

--- 34.39170289039612 seconds ---

In [285]:
valid.set_index(['id','user_id','movie_id','timestamp'],inplace=True)

In [286]:
#valid.reset_index(inplace=True)
#valid.set_index(['id'],inplace=True)
valid['rating'] = model.predict(valid) # Predictions
valid.head()

                               avg_movie  avg_user  ...      CEP2    rating
id user_id movie_id timestamp                       ...
0  5       2962     974769784 -0.152741  -0.00886   ...  0.609027  3.242091
1  5       3177     974769768 -0.298675  -0.00886   ...  0.609027  3.513485
2  5       3153     974769768 -0.736941  -0.00886   ...  0.609027  3.061815
3  5       501      974769768  0.018014  -0.00886   ...  0.609027  3.460033
4  5       3159     974769768 -0.567894  -0.00886   ...  0.609027  3.026118

[5 rows x 35 columns]

In [287]:
valid.reset_index(inplace=True)

In [288]:
valid[['id','rating']].to_csv('/content/drive/MyDrive/Doutorado/disciplinas/recom_sys/scc5966/segmento.csv',index=False)

### **10 - Results**

##### Movie Filter colaborative wiht K = 4: RMSE 1.04849
##### Movie Filter colaborative wiht K = 6: RMSE 1.04461
##### Average between Movie Filter colaborative wiht K = 4 and dummy avg by user: RMSE 1.00042
##### Average between Movie Filter colaborative wiht K = 6 and dummy avg by user: RMSE 0.99707
##### user Filter colaborative wiht K = 6: RMSE 1.12605
##### user Filter colaborative wiht K = 3: RMSE 1.14487
##### baseline: RMSE 0.95653
##### SVD com 2 fatores: RMSE 0.96758
##### SVD com 5 fatores: RMSE 0.95662
##### SVD com 10 fatores: RMSE 0.94786
##### SVD com 15 fatores: RMSE 0.93649
##### SVD com 20 fatores: RMSE 0.93942

##### gradiente com adição de features: RMSE 0.94647 > Ajuste com a base toda: 0.93756

## **References**

##### https://machinelearningmastery.com/sparse-matrices-for-machine-learning/

##### https://pub.towardsai.net/recommendation-system-in-depth-tutorial-with-python-for-netflix-using-collaborative-filtering-533ff8a0e444